.contact-list {
  padding-left: 0;
}

.contact-list a {
  color: var(--color-green-lena); ;
}

.contact-list a:hover {
  color: var(--color-grey-good);
} 

.contact-list i {
  margin-right: var(--space-small);
}