.contact-list {
  padding-left: 0;
}

.contact-list a {
  color: var(--color-green-lena);
}
.contact-list a:visited {
  color:  #797979;
}

a:hover {
  color: hotpink;
}


.contact-list i {
  margin-right: var(--space-small);
}